*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    flex-wrap: wrap;
}
.perso{
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    flex-wrap: wrap;
    margin:100px;
}

@media screen and (max-width: 900px) {
    .header .perso {
        font-size: 10px;
    }
}